@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap");
html, body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  min-width: 290px;
  flex: 1 1 auto;
  padding: 0 15px;
  margin: 0 auto;
}

.main-title {
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  letter-spacing: 1.92px;
  color: #44444f;
  font-weight: 700;
  text-align: center;
  margin-bottom: 75px;
  transform: translate(0, -120%);
  opacity: 0;
  transition: 0.6s ease;
}

.main-title._active {
  transform: translate(0, 0);
  opacity: 1;
}

.main-title span {
  display: block;
  font-size: 18px;
  letter-spacing: 0.9px;
  font-weight: 400;
  color: #65e496;
  margin-top: 15px;
}

/**
 * Сброс стилей
 **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

article, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input {
  outline: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

.main-page {
  background: linear-gradient(to right, #46778b, #50a39a);
  padding-bottom: 160px;
}

.main-page__header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.main-page__header::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #46778b, #50a39a);
  z-index: 3;
}

.main-page__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.main-page__logo {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
}

.main-page__logo img {
  max-width: 100%;
}

.main-page__list {
  display: flex;
  position: relative;
  z-index: 3;
}

.main-page__link {
  margin-right: 22px;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.main-page__link:last-child {
  margin-right: 0;
}

.main-page__burger {
  display: none;
  width: 45px;
  height: 30px;
  position: relative;
}

.main-page__burger::after, .main-page__burger::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.main-page__burger::after {
  bottom: 0;
}

.main-page__burger::before {
  top: 0;
}

.main-page__burger span {
  display: block;
  width: 100%;
  height: 3px;
  position: absolute;
  top: 13.5px;
  background-color: #ffffff;
}

.main-page__content {
  display: flex;
  align-items: flex-start;
  margin-top: 231px;
  color: #ffffff;
  font-weight: 400;
}

.main-page__img {
  flex: 1 0 445px;
  padding: 0 30px 0 0;
  position: relative;
}

.main-page__img img {
  display: block;
  max-width: 100%;
}

.main-page__article, .page-books__article {
  position: absolute;
  top: 21%;
  left: 47%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 1.44px;
  text-align: center;
}

.main-page__article span, .page-books__article span {
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-size: 14px;
  letter-spacing: 0.7px;
  text-transform: initial;
  margin-top: 12px;
  font-weight: 400;
  color: #65e496;
}

.main-page__subtitle, .page-books__subtitle {
  position: absolute;
  top: 90%;
  left: 32%;
  transform: translate(-50%, -50%);
  color: #65e496;
  font-size: 14px;
  line-height: 0.7px;
}

.main-texts {
  transform: translate(100%, 0);
  opacity: 0;
  transition: 0.5s ease;
  flex: 1 1 auto;
}

.main-texts._active {
  transform: translate(0, 0);
  opacity: 1;
}

.main-texts__author {
  font-size: 18px;
  letter-spacing: 1.2px;
  margin-bottom: 35px;
}

.main-texts__author--counter {
  color: #696980;
}

.main-texts__title {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  letter-spacing: 1.2px;
  font-size: 48px;
  text-transform: uppercase;
}

.main-texts__title span {
  display: block;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 15px;
  color: #65e496;
  text-transform: initial;
}

.main-texts__title--counter {
  color: #44444f;
  text-transform: initial;
}

.main-texts__descs {
  margin-top: 46px;
}

.main-texts__descs--counter {
  color: #696980;
}

.main-texts__descs p {
  font-size: 15px;
  letter-spacing: 1.4px;
  line-height: 1.55em;
  font-weight: 400;
  margin-bottom: 26px;
  max-width: 650px;
}

.main-texts__descs p:last-child {
  margin-bottom: 0;
}

.main-texts__btn, .page-books__btn a, .page-blog__btn a {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.72px;
  display: inline-block;
  margin-top: 50px;
  height: 48px;
  background-color: #65e4aa;
  line-height: 49px;
  padding: 0 23px;
  border-radius: 2px;
  position: relative;
}

.main-texts__btn::after, .page-books__btn a::after, .page-blog__btn a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2.5px;
  display: block;
  bottom: 0;
  left: 0;
  background-color: #59bc89;
}

.main-texts__btn--counter {
  color: #ffffff;
}

.main-texts__small {
  display: block;
  font-style: italic;
  margin-top: 20px;
  font-size: 12px;
  letter-spacing: 0.6px;
}

@media (max-width: 970px) {
  .main-page__list {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: block;
    overflow: auto;
    z-index: 2;
    padding: 100px 0 0 0;
  }
  .main-page__list.active {
    top: 0;
  }
  .main-page__link {
    color: #46778b;
    font-size: 22px;
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }
  .main-page__burger {
    display: block;
    position: relative;
    z-index: 3;
  }
  .main-texts__title {
    font-size: 38px;
  }
  .main-texts__title span {
    font-size: 16px;
    line-height: 20px;
  }
  .main-texts__author {
    font-size: 16px;
  }
  .main-texts__descs p {
    font-size: 13px;
  }
  .main-page__content {
    margin-top: 150px;
  }
}

@media (max-width: 880px) {
  .main-page {
    padding-bottom: 100px;
  }
  .main-page__content {
    flex-wrap: wrap;
    margin-top: 100px;
  }
  .main-texts {
    text-align: center;
  }
  .main-texts__descs p {
    margin: 0 auto 26px;
  }
  .main-page__img {
    padding: 0;
    flex-basis: 38%;
    margin-bottom: 30px;
  }
  .main-page__img img {
    margin: 0 auto;
  }
  .main-page__article, .page-books__article {
    width: 100%;
  }
  .main-texts__author {
    display: none;
  }
}

@media (max-width: 400px) {
  .main-page__article, .page-books__article {
    font-size: 26px;
  }
  .main-page__article span, .page-books__article span {
    font-size: 12px;
  }
  .main-page__subtitle, .page-books__subtitle {
    font-size: 12px;
  }
  .main-texts__title {
    font-size: 25px;
  }
  .main-texts__title span {
    font-size: 14px;
  }
}

.page-counter {
  padding: 160px 0 130px;
}

.page-counter__body {
  display: flex;
  justify-content: space-between;
}

.page-counter__body:hover .page-counter__img {
  filter: none;
  transition: 0.2s ease;
}

.page-counter__ava {
  position: relative;
  padding: 0 0 0 30px;
}

.page-counter__svg {
  position: absolute;
  z-index: -1;
  right: 0;
}

.page-counter__img {
  margin: 50px 46px 46px 0px;
  width: 438px;
  height: 465px;
  overflow: hidden;
  position: relative;
  filter: grayscale(100%);
  transition: 0.2s ease;
}

.page-counter__img img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.page-counter__counter {
  display: flex;
  margin-top: 150px;
  justify-content: space-between;
}

.page-counter__item {
  text-align: center;
  flex-basis: 33.33%;
}

.page-counter__count {
  font-family: 'Roboto Slab', serif;
  font-size: 80px;
  letter-spacing: normal;
  letter-spacing: 3.2px;
  color: #65e49d;
  text-align: center;
  font-weight: 100;
}

.page-counter__count span {
  display: block;
  font-size: 18px;
  letter-spacing: 0.72px;
  color: #696980;
  margin-top: 18px;
}

@media (max-width: 880px) {
  .page-counter {
    padding: 80px 0;
  }
  .page-counter__body {
    flex-wrap: wrap;
  }
  .page-counter__svg {
    display: none;
  }
  .page-counter__img {
    margin: 0;
    height: 0;
    width: 100%;
    padding: 0 0 110% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: none;
  }
  .page-counter__ava {
    flex-basis: 52%;
    padding: 0;
    margin: 30px auto 0;
  }
  .page-counter__counter {
    flex-wrap: wrap;
    margin-top: 100px;
  }
  .page-counter__item {
    flex-basis: 48%;
    margin-bottom: 30px;
  }
  .page-counter__item:last-child {
    margin: 0 auto;
  }
}

@media (max-width: 590px) {
  .page-counter__item {
    flex-basis: 100%;
  }
}

@media (max-width: 500px) {
  .page-counter__ava {
    flex-basis: 100%;
  }
}

.page-content {
  background-color: #f5f6fa;
  padding: 150px 0 250px 0;
}

.page-content__body {
  display: flex;
  justify-content: space-between;
}

.page-content__book {
  flex-basis: 39%;
  transform: translate(-120%, 0);
  opacity: 0;
  transition: 0.5s ease;
}

.page-content__book._active {
  transform: translate(0, 0);
  opacity: 1;
}

.page-content__title {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
  color: #44444f;
  margin-bottom: 24px;
}

.page-content__descs {
  margin-bottom: 30px;
}

.page-content__descs p {
  font-weight: 400;
  line-height: 24px;
  font-size: 15px;
  letter-spacing: 0.75px;
  color: #696980;
  margin-bottom: 30px;
}

.page-content__descs p:last-child {
  margin-bottom: 0;
}

.page-content__features {
  display: flex;
  align-items: center;
}

.page-content__feature {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.9px;
  line-height: 24px;
  color: #44444f;
  margin-right: 20px;
}

.page-content__list {
  display: flex;
  align-items: center;
}

.page-content__link {
  margin-right: 5px;
}

.page-content__link:last-child {
  margin-right: 0;
}

.page-content__link a {
  display: block;
  width: 26px;
  height: 18px;
}

.page-content__link a img {
  display: block;
  max-width: 100%;
}

.page-content__content {
  flex-basis: 46%;
  transform: translate(120%, 0);
  opacity: 0;
  transition: 0.5s ease;
}

.page-content__content._active {
  transform: translate(0, 0);
  opacity: 1;
}

.page-content__menu {
  counter-reset: list;
  column-count: 2;
  margin-bottom: 40px;
}

.page-content__menu--hide {
  display: none;
}

.page-content__item {
  line-height: 22px;
  font-size: 15px;
  counter-increment: list;
  font-weight: 400;
  letter-spacing: 0.7px;
  color: #696980;
  position: relative;
  padding-left: 37px;
  margin-bottom: 8px;
}

.page-content__item:last-child {
  margin-bottom: 0;
}

.page-content__item::before {
  content: counter(list) ". ";
}

.page-content__item::after {
  content: '+';
  position: absolute;
  left: 0;
  top: 0;
  background-color: #5fc9b8;
  color: #ffffff;
  padding: 0px 7px;
}

.page-content__btn, .page-events__btn {
  font-family: 'Roboto Slab', serif;
  display: inline-block;
  background-color: #65e4af;
  height: 50px;
  line-height: 49px;
  padding: 0 46px;
  border-radius: 2px;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0.72px;
  position: relative;
}

.page-content__btn::after, .page-events__btn::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2.5px;
  display: block;
  bottom: 0;
  left: 0;
  background-color: #adedbb;
}

@media (max-width: 1240px) {
  .page-content__content {
    flex-basis: 52%;
  }
}

@media (max-width: 1090px) {
  .page-content__menu {
    column-count: 1;
  }
  .page-content__content {
    flex: 1 0 42%;
  }
  .page-content__book {
    flex: 1 1 auto;
    padding-right: 25px;
  }
}

@media (max-width: 675px) {
  .page-content__content {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .page-content__body {
    flex-wrap: wrap;
  }
  .page-content__book {
    padding-right: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: 880px) {
  .page-content {
    padding: 80px 0 100px 0;
  }
}

.page-books {
  padding: 150px 0 110px;
}

.page-books__body {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transform: translate(-100%, 0);
  transition: 0.6s ease;
}

.page-books__body._active {
  opacity: 1;
  transform: translate(0, 0);
}

.page-books__item {
  flex-basis: 33.33%;
  text-align: center;
  margin-bottom: 50px;
}

.page-books__img {
  margin-bottom: 34px;
  position: relative;
  color: #ffffff;
}

.page-books__img img {
  margin: 0 auto;
  max-width: 100%;
  display: block;
}

.page-books__article {
  font-size: 24px;
  left: 52%;
  width: 100%;
}

.page-books__article span {
  font-size: 12px;
}

.page-books__subtitle {
  font-size: 12px;
  left: 47%;
  width: 100%;
}

.page-books__title {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  letter-spacing: 1.2px;
  font-weight: 700;
  color: #44444f;
}

.page-books__descs {
  max-width: 315px;
  margin: 18px auto;
}

.page-books__descs p {
  font-size: 15px;
  letter-spacing: 0.75px;
  line-height: 24px;
  margin-bottom: 25px;
  color: #696980;
}

.page-books__descs p:last-child {
  margin-bottom: 0;
}

.page-books__button {
  display: inline-block;
  font-size: 15px;
  letter-spacing: 0.75px;
  font-weight: 700;
  color: #65e496;
  text-transform: uppercase;
}

.page-books__btn {
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.page-books__btn a {
  margin-top: 80px;
}

@media (max-width: 1024px) {
  .page-books__body {
    flex-wrap: wrap;
  }
  .page-books__item {
    flex-basis: 45%;
  }
  .page-books__item:last-child {
    margin: 0 auto;
  }
}

@media (max-width: 880px) {
  .page-books {
    padding: 100px 0;
  }
}

@media (max-width: 535px) {
  .page-books__item {
    flex-basis: 100%;
  }
}

.page-slider {
  padding: 230px 0 160px 0;
  clip-path: polygon(50% 12%, 100% 3%, 100% 92%, 50% 100%, 0% 92%, 0% 3%);
  background-color: #44444f;
  text-align: center;
}

.page-slider__ava {
  position: relative;
  width: 152px;
  height: 152px;
  margin: 0 auto;
}

.page-slider__img {
  width: 152px;
  height: 152px;
  border-radius: 50%;
  overflow: hidden;
}

.page-slider__img img {
  display: block;
  max-width: 100%;
}

.page-slider__el {
  position: absolute;
  background: url("../images/bq.png") no-repeat;
  top: 0;
  right: -7px;
  display: block;
  width: 48px;
  height: 42px;
}

.page-slider__title {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  letter-spacing: 1.2px;
  font-size: 24px;
  color: #65e496;
  margin: 20px 0 32px 0;
}

.page-slider__title span {
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-size: 15px;
  letter-spacing: 0.75px;
  font-weight: 400;
  color: #9191b5;
  line-height: 28px;
}

.page-slider__desc {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.75px;
  font-weight: 400;
  color: #9191b5;
  max-width: 760px;
  margin: 0 auto;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.slick-dots li {
  margin-right: 10px;
}

.slick-dots li:last-child {
  margin-right: 0;
}

.slick-dots button {
  font-size: 0;
  background-color: #62d4a7;
  border: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  line-height: 0;
  padding: 5px;
  cursor: pointer;
}

.slick-dots button:focus {
  outline: none;
}

.slick-dots li.slick-active button {
  width: 37px;
  border-radius: 10px;
}

.page-events {
  padding: 160px 0;
}

.page-events__body {
  display: flex;
  justify-content: space-between;
}

.page-events__ava {
  flex-basis: 39%;
  padding: 0 30px 0 0;
  box-sizing: border-box;
  position: relative;
}

.page-events__svg {
  position: absolute;
  z-index: -1;
  left: 0;
}

.page-events__images {
  margin: 50px 0px 50px 51px;
  width: 100%;
  padding: 0 0 139% 0;
  position: relative;
  overflow: hidden;
}

.page-events__images img {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.page-events__content {
  flex-basis: 47.8%;
}

.page-events__name {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.9px;
  color: #696980;
  margin-bottom: 24px;
}

.page-events__title {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 1.92px;
  color: #44444f;
  margin-bottom: 21px;
}

.page-events__title span {
  display: block;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.9px;
  color: #65e496;
  line-height: 44px;
}

.page-events__info {
  margin-bottom: 40px;
}

.page-events__info:last-child {
  margin-bottom: 0;
}

.page-events__desc {
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
  letter-spacing: 0.9px;
  font-weight: 700;
  color: #44444f;
  margin-bottom: 16px;
}

.page-events__desc span {
  font-family: 'Open Sans', sans-serif;
  display: block;
  line-height: 44px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.75px;
  color: #696980;
}

.page-events__subtitle {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.75px;
  font-weight: 400;
  color: #696980;
}

.page-events__btn {
  padding: 0 30px;
  margin-top: 30px;
}

@media (max-width: 1110px) {
  .page-events__svg {
    display: none;
  }
  .page-events__images {
    margin: 0;
  }
  .page-events__body {
    align-items: center;
  }
  .page-events__content {
    flex-basis: 54%;
  }
}

@media (max-width: 960px) {
  .page-events__ava {
    display: none;
  }
  .page-events__content {
    flex: 1 1 auto;
  }
}

@media (max-width: 880px) {
  .page-events {
    padding: 80px 0;
  }
}

@media (max-width: 500px) {
  .page-events__ava {
    display: none;
  }
  .page-events__content {
    flex: 1 1 auto;
  }
  .page-events__title {
    font-size: 30px;
  }
  .page-events__title span {
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
  }
  .page-events__desc {
    font-size: 16px;
  }
}

.page-blog {
  padding: 155px 0 125px;
  background-color: #f5f6fa;
}

.page-blog__body {
  display: flex;
  margin: 0 -15px;
}

.page-blog__column {
  flex: 0 1 33.333%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.page-blog__item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.page-blog__img {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 0 0 56.3% 0;
  transform: scale(0);
  opacity: 0;
  transition: 0.6s ease;
}

.page-blog__img._active {
  transform: scale(1);
  opacity: 1;
}

.page-blog__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.page-blog__title {
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.9px;
  color: #44444f;
  margin: 12px 0;
  line-height: 22px;
}

.page-blog__author {
  font-size: 15px;
  letter-spacing: 0.75px;
  display: inline-block;
  color: #65e496;
  margin-bottom: 15px;
  line-height: 20px;
}

.page-blog__author span {
  color: #80809b;
}

.page-blog__desc {
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #80809b;
}

.page-blog__btn {
  display: flex;
  justify-content: center;
  color: #ffffff;
}

.page-blog__btn a {
  margin-top: 50px;
}

@media (max-width: 1024px) {
  .page-blog__body {
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
  }
  .page-blog__column {
    flex-basis: 48%;
    padding: 0;
  }
  .page-blog__column:last-child {
    margin: 0 auto;
  }
}

@media (max-width: 880px) {
  .page-blog {
    padding: 80px 0 100px 0;
  }
}

@media (max-width: 600px) {
  .page-blog__body {
    justify-content: center;
  }
  .page-blog__column {
    flex-basis: 100%;
  }
}

.page-form {
  padding: 150px 0 120px;
}

.page-form__body {
  display: flex;
  margin: 0 -17px;
}

.page-form__column {
  padding: 0 17px;
  flex-basis: 50%;
  margin-bottom: 30px;
}

.page-form__title {
  font-family: 'Roboto Slab', serif;
  font-size: 48px;
  letter-spacing: 1.92px;
  font-weight: 700;
  color: #44444f;
  margin-bottom: 12px;
}

.page-form__desc {
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.75px;
  line-height: 24px;
  color: #696980;
}

.page-form__input {
  margin-bottom: 21px;
}

.page-form__input .input {
  background-color: #44444f;
  display: block;
  width: 100%;
  border: none;
  height: 47px;
  border-radius: 3px;
  font-size: 15px;
  letter-spacing: 0.75px;
  color: #9191b5;
  padding: 0 0 0 26px;
  box-sizing: border-box;
}

.page-form__input .input::placeholder {
  font-size: 15px;
  letter-spacing: 0.75px;
  color: #9191b5;
}

.page-form__btn {
  font-family: 'Roboto Slab', serif;
  color: #ffffff;
  display: block;
  width: 100%;
  text-align: center;
  border: none;
  background: none;
  background-color: #65e4a2;
  height: 50px;
  border-radius: 3px;
  font-size: 18px;
  letter-spacing: 0.72px;
}

@media (max-width: 850px) {
  .page-form {
    padding: 100px 0;
  }
  .page-form__body {
    margin: 0;
    flex-wrap: wrap;
  }
  .page-form__column {
    padding: 0;
    flex-basis: 100%;
  }
}

@media (max-width: 425px) {
  .page-form__title {
    font-size: 33px;
  }
}

.page-footer {
  background-color: #44444f;
  padding: 120px 0;
}

.page-footer__body {
  display: flex;
  justify-content: space-between;
}

.page-footer__first {
  flex-basis: 31.6%;
}

.page-footer__logo {
  margin-bottom: 32px;
  display: block;
  width: 137px;
  height: 28px;
}

.page-footer__logo img {
  max-width: 100%;
}

.page-footer__desc {
  font-size: 15px;
  letter-spacing: 0.6px;
  line-height: 24px;
  color: #9191b5;
}

.page-footer__desc span {
  display: block;
  margin-top: 20px;
}

.page-footer__second {
  flex-basis: 26.2%;
}

.page-footer__title {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 0.72px;
  font-size: 18px;
  font-weight: 700;
  color: #65e496;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.page-footer__list {
  display: flex;
  flex-direction: column;
}

.page-footer__link {
  font-size: 15px;
  letter-spacing: 0.6px;
  color: #9191b5;
  margin-bottom: 13px;
}

.page-footer__third {
  flex-basis: 25%;
}

.page-footer__callbacks {
  display: block;
  font-size: 15px;
  letter-spacing: 0.6px;
  line-height: 20px;
  color: #9191b5;
}

.page-footer__callbacks span {
  display: block;
  margin-bottom: 6px;
}

.page-footer__menu {
  display: flex;
  margin-top: 24px;
}

.page-footer__item1 {
  background-position: 0px 0;
}

.page-footer__item2 {
  background-position: -23px 0;
}

.page-footer__item3 {
  background-position: -47px 0;
}

.page-footer__item4 {
  background-position: -74px 0;
}

.page-footer__item5 {
  background-position: -100px 0;
}

.page-footer__item6 {
  background-position: -127px 0;
}

.item {
  background: url("../images/sprite.png") no-repeat;
  margin-right: 3px;
  width: 20px;
  height: 20px;
  display: block;
}

@media (max-width: 920px) {
  .page-footer__body {
    flex-wrap: wrap;
  }
  .page-footer__first {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .page-footer__second {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .page-footer__third {
    flex-basis: 100%;
    margin-top: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .page-footer__second {
    flex-basis: 100%;
    margin-bottom: 40px;
  }
  .page-footer__first {
    flex-basis: 100%;
    margin-bottom: 40px;
  }
}

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 60;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window__modal {
  background-color: #ffffff;
  width: 40%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  padding: 60px 40px;
  box-sizing: border-box;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.modal-window__form {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.modal-window__form input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  background-color: #44444f;
  border: none;
  border-radius: 3px;
  height: 47px;
  padding: 0 0 0 26px;
  box-sizing: border-box;
  font-size: 15px;
  letter-spacing: 0.75px;
  color: #9191b5;
}

.modal-window__form input::placeholder {
  font-size: 15px;
  letter-spacing: 0.75px;
  color: #9191b5;
}

.modal-window__form button {
  color: #ffffff;
  display: block;
  width: 50%;
  text-align: center;
  border: none;
  background: none;
  background-color: #65e4a2;
  height: 50px;
  border-radius: 3px;
  font-size: 17px;
  letter-spacing: 0.72px;
  text-transform: uppercase;
}

.hide {
  opacity: 0;
  visibility: hidden;
  transition: 0,2s ease;
}

@media (max-width: 768px) {
  .modal-window__modal {
    width: 85%;
    padding: 40px 30px;
  }
}
